.wrapper
  .row
    .contact-info.email.col-sm-6
      i.fa.fa-envelope
      a(href="mailto:info@patientbank.us")
        | info@patientbank.us
    .contact-info.phone.col-sm-6
      i.fa.fa-phone
      a(href="tel:8559728436")
        | (855) 972-8436
.contact-hours
  h4 Hours 
    small Eastern Time
  p Mon-Fri 8am-6pm 
  p Weekends 9am-5pm (available by appointment only)
