//- Footer
div.footer
  div.wrapper
    div.links
      a(href="/") Home
      a(href="/patient") Patient Support
      a(href="/intake") Intake Support
      a(href="/contact") Contact Us
      a(href="#{PUBLIC_URL}/privacy") Privacy
      a(href="#{PUBLIC_URL}/hipaa") HIPAA Compliance
      a(href="#{PUBLIC_URL}") PatientBank
    div.copyright &copy; 2015 Patient Bank, LLC
