//- Header
div.header
  div.wrapper
    a.logo(href="/")
      img(src="/images/logo/800_blue.png")
    div.links.no-small-mobile
      a(href="/") Home
      a(href="/patient") Patient Support
      a(href="/intake") Intake Support
      a(href="/contact") Contact Us
      a(href="#{PUBLIC_URL}") PatientBank
