extends ./index.jade
block title
  title Contact Us | PatientBank Support

block content
  .wrapper
    .contact
      .contact-header
        h1 Contact Us
      include ./includes/contact-info.jade

block contact
