extends ./index.jade
block title
  title Intake FAQs | PatientBank Support

block content
  .faq
    .wrapper
      h2 Intake FAQs

      div.markdown-document
        include:markdown ./markdown/intake_faq.md
